header nav img{
    height: 125px;
}
header{
    width: 1100px;
    margin: 0 auto;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li{
    margin-right: 25px;
}

nav {
    border: solid 1px #999;
}
.lvl4{
    width: 1100px;
    margin: 0 auto;
}
.BA{
    border: solid 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}
.BB{
    border: solid 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    gap: 50px;
    margin-top: 5px;

}

.BB0{
    border: solid 5px black;
    display: flex;
    align-items: center;
    height: 100px;
    width: 300px;
    gap: 5px;
    margin-left: 5px;
}
.BB1{
    border: solid 1px black;
    display: flex;
    height: 75px;
    width: 200px;
    margin-left: 5px;
}
.BB2{
    border: solid 1px black;
    display: flex;
    height: 75px;
    width: 200px;
    margin-right: 5px;
}
.BB3{
    border: solid 1px black;
    display: flex;
    height: 75px;
    width: 200px;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.CA{
    border: solid 5px black;
    display: flex;
    height: 800px;
    width: 1090px;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end ;
}
.CA img{
    height: 125px;
    width: 125px;
}