body{
    height: 1200px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #999;
}

#big-box{
    width: 200px;
    height: 200px;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    }
#small-box{
    width: 100px;
    height: 100px;
    background-color: #8ebf42;
    }